<section class="film-list-wrap">
    <% if current_user.id === list.user.id %>
        <%= render partial: 'lists/form', locals: { list: list } %>
    <% end %>
    <ul class="film-list">
        <% for film in list.films.order('title ASC') %>
            <%= render partial: 'films/film', locals: { film: film, list: list } %>
        <% end %>
    </ul>
</section>