<h1>Watchlist</h1>

<% if user_signed_in? %>
    Hello, <%= current_user.display_username %>!
    <%= link_to 'Sign out', logout_path %>
<% else %>
    <%= link_to 'Sign in with Twitter', '/auth/twitter' %>
<% end %>